@import "variables";

.about {
  height: 80vh;
  margin-top: 23rem;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 7rem 5rem;
  font-family: $primary-font;

  @media all and (max-width: 680px) {
    margin: 7em 0em;
  }

  p {
    line-height: 1.7;
    color: theme(colors, p);
    width: 400px;

    @media all and (max-width: 680px) {
      width: 90vw;
    }

    span {
      padding: 5px;
      background: theme(colors, gradient-color);
      border-radius: 100px;
    }
  }

  .two {
    align-self: flex-end;
  }
}
